html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    vertical-align: baseline;
    list-style-type: none;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}


/*container with main content of page (width 940px)*/
.container {
    width: 940px;
    margin: 0 auto;
}



/*stylisation for header*/
#header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    padding: 20px 0;
    width: 100%;
}
.logo {
    float: left;
}
.nav {
    float: right;
    padding-top: 5px;
}
.nav a:hover {
    color: #fed136;
}
.nav li {
    float: left;
    margin-right: 40px;
}
.nav a {
    text-transform: uppercase;
    font: 14px Arial, Sans-Serif;
    color: white;
}
.nav li:last-child {
    margin-right: 0;
}
#home {
    height: 700px;
    background: #222 url("img/home-bg.jpg") no-repeat center bottom;
    background-size: cover;
    padding-top: 270px;
    text-align: center;
    color: #fff;
}
#home h3 {
    margin-bottom: 40px;
    font: 40px/40px Arial, Sans-Serif;
}

#home h1 {
    font: 75px/75px Arial, Sans-Serif;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.btn {
    display: inline-block;
    background-color: #fed136;
    padding: 20px 30px;
    font: bold 24px/24px Arial, Sans-Serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
}
.btn:hover {
    background: #edba08;
    color: #fff;
}



/*stylisation for container services*/
.box {
    padding: 120px 0;
}
#services {
    text-align: center;
}
h2.title {
    font: bold 40px/40px Arial, Sans-Serif;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.descr {
    font: 16px Times New Roman, Sans-Serif;
    color: #777777;
    margin-bottom: 10px;
}
.services-wrap,
.portfolio-wrap,
.about-wrap {
    padding-top: 70px;
}
h5.title {
    margin-bottom: 10px;
    font: bold 18px/18px Arial, Sans-Serif;
}
.services-item {
    float: left;
    width: 33.33%;
    padding: 90px 10px;
}
.services-item p {
    font: 18px Times New Roman, Sans-Serif;
    color: #777777;
    line-height: 24px;
}
.commerce {
    background: url("img/e_commerce.png") no-repeat center top;
}
.responsive {
    background: url("img/responsive_web.png") no-repeat center top;
}
.security {
    background: url("img/web_security.png") no-repeat center top;
}



/*stylisation for container portfolio*/
#portfolio {
    text-align: center;
    background-color: #f7f7f7;
}
.portfolio-item {
    float: left;
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 50px;
    background: #fff;
}
.portfolio-item:nth-child(3n) {
    margin-right: 0;
}
.p-item-footer {
    padding: 25px 20px;
}
.p-item-footer h5.title {
    margin-bottom: 4px;
}
.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3) {
    margin-bottom: 0;
}



/*stylisation for container about*/
#about {
    text-align: center;
}
.about-text {
    width: 35%;
    line-height: 24px;
}
.about-img {
    width: 30%;
}
.about-img img,
.about-link {
    display: inline-block;
    width: 177px;
    height: 177px;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
}
.about-img:after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 94px;
    width: 3px;
    background: #f1f1f1;
}

.about-text p {
    color: #777;
    font: 16px Times New Roman;
    line-height: 24px;
}
.about-link {
    background: #fed136;
    font: bold 18px/30px Arial Sans Serif;
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    text-shadow: 0 1px rgba(0,0,0,3);
}

.left {
    float: left;
}
.right {
    float: right;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
h5 span {
    text-transform: uppercase;
}



/*stylisation for container amazing team*/
#team {
    text-align: center;
}
.team-item {
    float: left;
    width: 33.33%;
}
.team-item img {
    margin-bottom: 15px;
    border-radius: 50%;
    border: 7px solid white;
}
.category {
    font: 14px/14px Arial, sans serif;
    color: #777777;
}
.social {
    margin-top: 10px;
}
.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #222222;
    border-radius: 50%;
    margin:0px 3px;
    background: url("img/social-sprite.png") no-repeat;
}
.social a.icon-facebook {
    background-position: -42px -4px;
}
.social a.icon-facebook:hover {
    border-color: #3b5998;
    background-color: #3b5998;
    background-position: -42px -44px;
}
.social a.icon-facebook.black {
    background-position: -42px -44px;
}
.social a.icon-google {
    background-position: -122px -1px;
}
.social a.icon-google:hover {
    border-color: #d95232;
    background-color: #d95232;
    background-position: -122px -41px;
}
.social a.icon-google.black {
    background-position: -122px -41px;
}
.social a.icon-pinterest {
    background-position: -82px -2px;
}
.social a.icon-pinterest:hover {
    border-color: #cb2028;
    background-color: #cb2028;
    background-position: -82px -42px;
}
.social a.icon-pinterest.black {
    background-position: -82px -42px;
}
.social a.icon-twitter {
    background-position: -2px -2px;
}
.social a.icon-twitter:hover {
    border-color: #00aced;
    background-color: #00aced;
    background-position: -2px -42px;
}
.social a.icon-twitter.black {
    background-position: -2px -42px;
}
.team-info {
    margin-top: 45px;
}

/*formatting for section "brand"*/
#brand {
    text-align: center;
    padding: 60px 0;
}
#brand img {
    margin: 0 25px;
    vertical-align: middle;
}


/*formatting for section "contact"*/
#contact {
    text-align: center;
    background: #222222 url("img/maps_bg.png") no-repeat right bottom;
}
#contact h2.title {
    color: #fff;
}
#message {
    margin-top: 75px;
}
#message .left,
#message .right {
    width: 48%;
}
#message input[type="text"],
#message textarea {
    background: #ffffff;
    border-radius: 4px;
    width: 100%;
    box-shadow: none;
    margin-bottom: 30px;
    padding: 20px 15px;
    font: bold 14px/14px Arial, Sans-serif;
    color: #222222;
}
#message input[type="text"] {
    height: 50px;
    border: 1px solid #ccc;
}
#message textarea {
    border: none;
    height: 210px;
    resize: none;
}
::-webkit-input-placeholder {
    font: bold 14px/14px Arial, Sans-serif;
    color: #bbb;
    text-transform: uppercase;
}
::-moz-placeholder {
    font: bold 14px/14px Arial, Sans-serif;
    color: #bbb;
    text-transform: uppercase;
}


#copyright {
    margin: 25px 0;
}
#copyright p {
    margin-top: 15px;
    font: 14px/14px Arial sans-serif;
    color: #555;
}
#copyright .social {
    margin-top: 0;
    margin-left: 365px;
}
.social a.black {
    background-color: #222222;
}